.portrait {
	width: 20vw;
	height: 20vw;
	-o-object-fit: cover;
    object-fit: cover;
    object-position: 50% 0%;
    overflow: hidden;
}

.jumbotron{
    margin-top: 40px;
};

h1 {
    font-family: "helvetica", "sans-serif", "georgia";
};

