.portrait {
	width: 20vw;
	height: 20vw;
	-o-object-fit: cover;
    object-fit: cover;
    object-position: 50% 0%;
    overflow: hidden;
}


.jumbotron{
    margin-top: 40px;
}

body{background-color: #993feeb0;}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

h1, h3, p {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}