.portrait {
	width: 20vw;
	height: 20vw;
	-o-object-fit: cover;
    object-fit: cover;
    object-position: 50% 0%;
    overflow: hidden;
}

table {
	position: relative;
	width: 90%;
}
=======
.jumbotron{
    margin-top: 40px;
};

h1 {
    font-family: "helvetical", "sans-serif", "georgia";
};

